{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a>
        </li>
        <li>
            <a href="/lab2/flowers">список цветов</a> 
        </li>
        <li>
            <a href="/lab2/filters">фильтры</a> 
        </li>
        <li>
            <a href="/lab2/calc">калькулятор</a> 
        </li>
        <li>
            <a href="/lab2/books">книги</a> 
        </li>
        <li>
            <a href="/lab2/iphone">айфоны</a> 
        </li>
    </ol>
{% endblock %}
